<!DOCTYPE html>
<html lang="en">
<head>
     
    <title>View Files</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="text.css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <br/> 
    <nav class="navbar navbar-inverse">
      <div class="containerfluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Military Communication</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><a href="/">Home</a></li>
          <li><a href="/signup">Sign up</a></li>
          <li class="active"><a href="/login">Login</a></li>
          <li><a href="/sendmsg">Send Message</a></li>
          <li><a href="/sendfile">Send File</a></li>
        </ul>
      </div>
      </nav>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

<
    <h1>View Files</h1>
    <ul>
        {% for from_address, file_hash, to_addresses in zip(from_addresses, file_hashes, to_addresses) %}
            <li><b>From:</b> {{ from_address }}, <b>File Hash:</b> {{ file_hash }}, <b>To:</b> {{ to_addresses }}</li>
        {% endfor %}
    </ul>

</html>
